
.faq-question {
  padding-bottom:  14px;

}
.faq-question .faq-question-question {
  cursor: pointer;
  font-size: 1em;
  text-align: center;
  padding: 14px 20px 14px 20px;
  text-transform: uppercase;
  background-color: var(--senyu-logo-blue);
  color: white;
  margin: 0;

  display: flex;
  justify-content: space-between;
}

.faq-question .faq-question-reponse {
  opacity: 0;
  height: 0;
  margin: 0;
  transition: opacity .3s ease-out;
  overflow: hidden;

  border-width: 0 2px 2px 2px;
  border-style: solid;
  border-color: var(--senyu-logo-blue);
}


.faq-question .faq-question-reponse.open {
  opacity: 1;
  height: auto;
  padding: 14px 20px 14px 20px;
}

.faq-question .faq-question-arrow {
  padding-left: 10px;
  height: 100%;
  right: 0;
  top:0;
  font-weight: 700;
}


@media screen and (min-width: 1024px) {

  .faq-question .faq-question-question {
    text-align: left;
  }

}
