
/**

MENU

**/

.nav-wrap {
	background-color: var(--senyu-logo-black);
	position: absolute;
	z-index: 0;
	width: 100%;
	margin: auto;
}


.nav-wrap li > a {
	line-height: 43px;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	font-size: 0.75em;
	color: var(--senyu-logo-yellow);
	font-family: "Raleway",sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

.nav-wrap ul{
	list-style-type: none;
	padding-left: 0;
	text-align: center;
	margin: 0;
}
.nav-wrap .menu-content  a{
	background-color: var(--senyu-logo-yellow);
	color: var(--senyu-logo-black);

}
.nav-wrap .menu-item .menu-item-arrow-down {
	display: none	;
}
.nav-wrap .menu-content{
	background-color: var(--senyu-logo-yellow);
}

.nav-wrap .menu-content a{
	padding: 0 20px;
	justify-content: center;
}




@media screen and (min-width: 1024px) {


	.nav-wrap {
		top: auto;
		z-index: auto;
		position: relative;
		background-color: var(--senyu-logo-yellow);
		max-width: 1600px;
	}

	.nav-wrap li > a {
		color: var(--senyu-logo-black);
	}

	.nav-wrap .menu {
		display: flex;
		justify-content: space-around;
	}

	.nav-wrap .menu-item {
		flex: 1;
		position: relative;
	}
	.nav-wrap .menu-item.menu-item-special a {
		color: var(--senyu-logo-red);
	}

	.nav-wrap .menu-content {
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		z-index: 2;

	}

	.nav-wrap .menu-content li {
		height: auto;
	}

	.nav-wrap  li a {
		background-color: var(--senyu-logo-yellow);
		color: var(--senyu-logo-black);
		-o-transition:.3s;
		-ms-transition:.3s;
		-moz-transition:.3s;
		-webkit-transition:.3s;
		transition:.3s;
	}

	.nav-wrap .menu-item:hover .menu-content {
		display: block;
		box-shadow: 5px 5px 10px var(--senyu-logo-black-very-light);
	}

	.nav-wrap .menu-item .menu-item-arrow-down {
		display: inline	;
	}

	.nav-wrap a:hover,
	.nav-wrap .menu-content a:hover {
		background-color: var(--senyu-logo-black);
		color: var(--senyu-logo-yellow);
	}
	.sticky {
		position: fixed;
		top: 0;
		width: 100%
	}
}
