.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.not-found h1 {
  font-size: 200px;

  color: var(--senyu-logo-blue);
  margin: 10px;
}

.not-found h2 {
  color: var(--senyu-logo-blue);
  margin: auto;
}
