.main-content {
	border: 3px solid #fff;
  background-color: #fff;
	padding: 25px;
	width: 100%;
  display: flex;
	flex-direction: column;
  height: auto;
	position: relative;
	transition: transform .3s;
	z-index: 1;
}


.main-content.open {
	transform: translateX(-100%);
}


#left-content {
	border: 3px solid #009688;
	background-color: #009688;
	height: auto;
	flex: auto;
}


@media screen and (min-width: 1024px) {
	.main-content {
		z-index: auto;
	}
}
