.work-in-progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}


.work-in-progress h1 {
  font-size: 200px;

  color: var(--senyu-logo-red);
  margin: 10px;
}

.work-in-progress h2 {
  color: var(--senyu-logo-red);
  margin: auto;
}
