header {
	border: 3px solid var(--senyu-logo-black);
	background-color: var(--senyu-logo-black);
	z-index: 1;
	width: 100%;
}

header .header-content {
	display: flex;
  align-items: center;
  justify-content: center;
	width: 30%;
	margin: 0 auto;
}

header .logo {
	max-width: 100%;
}

header .logo img{
	max-width: 100%;
	height: auto;
}

header .logo,
header .ticket-buy,
header .header-message{
	min-height: 0;
	min-width: 0;
	margin: 0;
}

header .ticket-buy,
header .header-message {
	display: none;
}



@media screen and (min-width: 1024px) {

	header .header-content {
		width: 90%;
	}

	header .header-message {
		display: block;
		/*text-align: center;*/
		flex: 5;
		min-height: 0;
	  min-width: 0;
		margin: 0;
		font-family: "Comic Book",sans-serif;
		color: white;
	}

	header .logo,
	header .ticket-buy{
		display: block;
		flex: 1;
	}
}
