
* {
	box-sizing: border-box;
}

:root {
	--senyu-logo-green: #4db18b;

	--senyu-logo-other-green: #BBC179;
	--senyu-logo-other-green-lighter: #f1f2e4;

	--senyu-logo-blue: #67C8CE;
	--senyu-logo-other-blue-lighter: #fbe5ad;

	--senyu-logo-black: #373737;
	--senyu-logo-red: #E1332A;
	--senyu-logo-yellow: #F7BF34;

}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}


@font-face {
  font-family: 'Comic Book';
  src: url('../fonts/Comic Book.otf');
}


body {
	margin: 0;
	font-family: "Roboto",sans-serif;
	color: var(--senyu-logo-black);
}




h4 {
	font-size: 1.5em;
	font-weight: 400;
}



.App {
	display: flex;
	flex-direction: column;
}


.main-content {
	background-color: var(--senyu-logo-other-green-lighter);
	padding: 25px;
	width: 100%;
	display: flex;
	flex-direction: column;
	height: auto;
	position: relative;
	transition: transform .3s;
	z-index: 1;
}


.main-content.open {
	transform: translateX(-100%);
}


#left-content {
	height: auto;
	flex: auto;
}


@media screen and (min-width: 1024px) {
	.main-content {
		z-index: auto;
	}
}
