body {
	margin: 0;
}


article {
	border: 3px solid #00ad5e;
  background-color: #00ad5e;
	height: 150px;
  margin: 10px;
}

footer {
	border: 3px solid #673AB7;
  background-color: #673AB7;
	height: 50px;
	clear: both;
}

h4 {
	color: #fffefe;
	font-family: "Montserrat",sans-serif;
	font-size: 1.5em;
	font-weight: 400;
}



.App {
	display: flex;
	flex-direction: column;
}
