.generic-form {
  margin-left: 25%;
  width: 50%;
}
.generic-form .generic-form-header {
  background-color: var(--senyu-logo-blue);
  color: white;
  padding: 10px 15px;
}
.generic-form .generic-form-body {
  padding: 18px;
}
.generic-form  .generic-form-recap-title {
  color: var(--senyu-logo-blue);
}

.generic-form  .generic-form-completed {
  text-align: center;
  color: var(--senyu-logo-darker-green);
  border: 1px solid var(--senyu-logo-darker-green);
  border-radius: 2px;
  background-color: var(--senyu-logo-lighter-green);
  padding: 5px 0 5px 0;
}

.generic-form span.requiredField {
  color: brown;
  padding-left: 2px;
}

.generic-form .invalid {
  background-color: #fae8e8;
}

.generic-form label,
.generic-form textarea {
  display: inline-block;
  max-width: 100%;
  margin: 5px 0;
  font-weight: 700;
}
.generic-form label.checkbox {
  display: flex;
}
.generic-form input,
.generic-form textarea,
.generic-form select {
  width: 100%;
}

.generic-form button {
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
}


.generic-form .not-shown {
  display: none;
}

.generic-form .tab {
  background-color: white;
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border: 1px var(--senyu-logo-blue) solid;
  margin-bottom: 50px;
}

.generic-form .parametreStand {
  display: none;
}


/*
  Validation Tab
*/
.generic-form .validation-tab .libelle {
  font-weight: 700;
}
.generic-form .validation-tab .value {
  color: var(--senyu-logo-red);
}


/*
  Tabs
*/

/* Make circles that indicate the steps of the form: */
.generic-form .step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--senyu-logo-blue);
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.generic-form .step.active {
  opacity: 1;
}
/* Mark the steps that are finished and valid: */
.generic-form .step.finish {
  background-color: var(--senyu-logo-green);
}


.generic-form #nextBtn,
.generic-form #validBtn {
  background-color: var(--senyu-logo-blue)
}

.generic-form #prevBtn {
  background-color: var(--senyu-logo-grey);
  margin-right: 5px;
}

.generic-form #validBtn:disabled {
  background-color: var(--senyu-logo-grey)
}

.generic-form #prevBtn {
  background-color: var(--senyu-logo-grey);
  margin-right: 5px;
}


/*
Message Dossier
*/
.generic-form .message-dossier {
  color: var(--senyu-logo-red);
}

.generic-form .message-dossier a{
  color: var(--senyu-logo-blue);
  text-decoration: none;
}
.generic-form .lien-dossier{
  color: var(--senyu-logo-red);
  text-decoration: none;
}
